
/* light */
@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/zp/zp-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zp/zp-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/zp/zp-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/zp/zp-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/zp/zp-Light.svg#539f28dff6ab3b175f2fd677663c51c6') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 200;
}

/* regular italic */
@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/zp/zp-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zp/zp-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/zp/zp-RegularItalic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/zp/zp-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/zp/zp-RegularItalic.svg#50903ccde4896339dc5dfd301348fe14') format('svg'); /* Legacy iOS */

  font-style: italic;
  font-weight: 400;
}

/* regular */
@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/zp/zp-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zp/zp-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/zp/zp-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/zp/zp-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/zp/zp-Regular.svg#50903ccde4896339dc5dfd301348fe14') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 400;
}

/* semibold italic */
@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/zp/zp-SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zp/zp-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/zp/zp-SemiBoldItalic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/zp/zp-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/zp/zp-SemiBoldItalic.svg#40d9dc5992fcd91c986ce763d0b18251') format('svg'); /* Legacy iOS */

  font-style: italic;
  font-weight: 700;
}

/* semibold */
@font-face {
  font-family: 'Zona Pro';
  src: url('../fonts/zp/zp-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/zp/zp-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/zp/zp-SemiBold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/zp/zp-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/zp/zp-SemiBold.svg#162f7822120324b8c470efd092b0a3f1') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 700;
}
